@font-face {
    font-family: DrukWide;
    src: url("../fonts/DrukWide.ttf");
}


*{
    margin: 0;
    scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/********************HEADER******************/

header{
    position: fixed;
    top: 0%;
    
    padding-left: 3%;
    width: 100%;
    width: 100vw;
    display: flex;
    justify-content: left;
    font-size: 2vh;
    z-index: 10;
    
    background-color: white;
    transition: all 0.5s;
}

header.minimize{
    transition: all 0.5s;
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: left;
    font-size: 2vh;
    padding-left: 3%;
    z-index: 10;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.137);
}



.category{
    font-family: DrukWide;
    color: black;
    padding: 1vh;
    margin: 1.5vh;
    font-size: 1.75vw;
    transition: all 1s;

}

header.minimize .category{
    font-family: DrukWide;
    color: black;
    padding: 1vh;
    margin: 1.5vh;
    font-size: 1.75vw;
    transition: all 1s;
}

.category a{
    color: black;
    text-decoration: none;
}

/********************HEADER******************/

/*******************MAIN PAGE********************/

.navigation{
    height: 80%;
}

.littleP{
    position: relative;
    top : -3vh;
    font-size: 3vh;
}

.pageOne{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

    font-family: DrukWide;
}

.pageOne h1{
    font-size: 3.5vw;
    padding-top: 5vh;
    width: 8ch;
    overflow: hidden;
    text-align: center;
    animation: typing 2s, blink .5s step-end infinite alternate;
    white-space: nowrap;
    line-height: 1;
}

@keyframes typing {
    from {
      width: 0;
      text-align: center;
      font-size: 4.5vw;
    }
  }

/*******************MAIN PAGE********************/

/*******************PROJECT PAGE********************/

.pageTwo{
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: DrukWide;
    
}

.pageTwo h1{
    font-size: 6vh;
    padding: 13vh;
}

/*******************PROJECT PAGE********************/

@media (orientation: portrait) {
    header{
        position: fixed;
        top: 0%;
        left: 0;
        display: flex;
        justify-content: center;
        z-index: 10;
        width: 100vw;
        padding: 0%;
    }

    header.minimize{
        position: fixed;
        top: 0%;
        left: 0;
        display: flex;
        justify-content: center;
        z-index: 10;
        width: 100vw;
        font-size: 3.5vh;
        padding: 0%;
    }
    .category{
        font-family: DrukWide;
        padding: 1vh;
        margin: 1.5vw;
        font-size: 5vw;
    
    }
    /***********************/

    .navigation{
        height: 40%;
    }
    
    .pageOne{
        flex-direction: column;
        justify-content: center;
    }
    
    .pageOne h1{
        font-size: 2.5ch;
    }

    header.minimize .category{
        font-family: DrukWide;
        color: black;
        font-size: 5vw;
        transition: all 1s;
    }
    .pageTwo h1{
        padding: 0vh;
        font-size: 6vh;
        padding-top: 8vh;
    }

    .littleP{
        position: relative;
        top : -1.2vh;
        font-size: 3vh;
    }
  }
